# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
env/
ENV/
*.swp
*.swo

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.production

# Static files (will be collected for production)
staticfiles/